[defaults]
inventory = inventory.aws_ec2.yml
host_key_checking = False
roles_path = roles
retry_files_enabled = False
forks = 10
stdout_callback = yaml
log_path = ~/ansible-workbench.log
deprecation_warnings = True

[inventory]
enable_plugins = aws_ec2

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
